In [1]:
import pandas as pd
import os
from df_columns import df_columns

In [2]:
data_loc = "/home/dpap/Kaggle/ML_Challenge2020/data"

df = pd.read_csv(os.path.join(data_loc, 'census-income.data'), names=df_columns, header=None)
test_df = pd.read_csv(os.path.join(data_loc, 'census-income.test'), names=df_columns, header=None)

In [3]:
df.head()

,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital status,major industry code,major occupation code,...,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,income class
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.

In [4]:
test_df.head()

,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital status,major industry code,major occupation code,...,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,income class
0,38,Private,6,36,1st 2nd 3rd or 4th grade,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,12,95,NaN
1,44,Self-employed-not incorporated,37,12,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,26,95,NaN
2,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,NaN
3,35,Private,29,3,High school graduate,0,Not in universe,Divorced,Transportation,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,NaN
4,49,Private,4,34,High school graduate,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,NaN

In [5]:
df.shape

(199523, 42)

In [6]:
for column in df_columns:
    print("-" )
    print(column, ":")
    print(df[column].unique())

-
age :
[73 58 18  9 10 48 42 28 47 34  8 32 51 46 26 13 39 16 35 12 27 56 55  2
  1 37  4 63 25 81 11 30  7 66 84 52  5 36 72 61 41 90 49  6  0 33 57 50
 24 17 53 40 54 22 29 85 38 76 21 31 74 19 15  3 43 68 71 45 62 23 69 75
 44 59 60 64 65 70 67 78 20 14 83 86 89 77 79 82 80 87 88]
-
class of worker :
[' Not in universe' ' Self-employed-not incorporated' ' Private'
 ' Local government' ' Federal government' ' Self-employed-incorporated'
 ' State government' ' Never worked' ' Without pay']
-
detailed industry recode :
[ 0  4 40 34 43 37 24 39 12 35 45  3 19 29 32 48 33 23 44 36 31 30 41  5
 11  9 42  6 18 50  2  1 26 47 16 14 22 17  7  8 25 46 27 15 13 49 38 21
 28 20 51 10]
-
detailed occupation recode :
[ 0 34 10  3 40 26 37 31 12 36 41 22  2 35 25 23 42  8 19 29 27 16 33 13
 18  9 17 39 32 11 30 38 20  7 21 44 24 43 28  4  1  6 45 14  5 15 46]
-
education :
[' High school graduate' ' Some college but no degree' ' 10th grade'
 ' Children' ' Bachelors degree(BA AB BS)'
 ' Masters degree(MA MS MEng MEd MSW MBA)' ' Less than 1st grade'
 ' Associates degree-academic program' ' 7th and 8th grade'
 ' 12th grade no diploma' ' Associates degree-occup /vocational'
 ' Prof school degree (MD DDS DVM LLB JD)' ' 5th or 6th grade'
 ' 11th grade' ' Doctorate degree(PhD EdD)' ' 9th grade'
 ' 1st 2nd 3rd or 4th grade']
-
wage per hour :
[   0 1200  876 ... 3156 2188 1092]
-
enroll in edu inst last wk :
[' Not in universe' ' High school' ' College or university']
-
marital status :
[' Widowed' ' Divorced' ' Never married'
 ' Married-civilian spouse present' ' Separated' ' Married-spouse absent'
 ' Married-A F spouse present']
-
major industry code :
[' Not in universe or children' ' Construction' ' Entertainment'
 ' Finance insurance and real estate' ' Education'
 ' Business and repair services' ' Manufacturing-nondurable goods'
 ' Personal services except private HH' ' Manufacturing-durable goods'
 ' Other professional services' ' Mining' ' Transportation'
 ' Wholesale trade' ' Public administration' ' Retail trade'
 ' Social services' ' Private household services'
 ' Utilities and sanitary services' ' Communications' ' Hospital services'
 ' Medical except hospital' ' Agriculture' ' Forestry and fisheries'
 ' Armed Forces']
-
major occupation code :
[' Not in universe' ' Precision production craft & repair'
 ' Professional specialty' ' Executive admin and managerial'
 ' Handlers equip cleaners etc ' ' Adm support including clerical'
 ' Machine operators assmblrs & inspctrs' ' Other service' ' Sales'
 ' Private household services' ' Technicians and related support'
 ' Transportation and material moving' ' Farming forestry and fishing'
 ' Protective services' ' Armed Forces']
-
race :
[' White' ' Asian or Pacific Islander' ' Amer Indian Aleut or Eskimo'
 ' Black' ' Other']
-
hispanic origin :
[' All other' ' Do not know' ' Central or South American'
 ' Mexican (Mexicano)' ' Mexican-American' ' Other Spanish'
 ' Puerto Rican' ' Cuban' ' Chicano' ' NA']
-
sex :
[' Female' ' Male']
-
member of a labor union :
[' Not in universe' ' No' ' Yes']
-
reason for unemployment :
[' Not in universe' ' Job loser - on layoff' ' Other job loser'
 ' New entrant' ' Re-entrant' ' Job leaver']
-
full or part time employment stat :
[' Not in labor force' ' Children or Armed Forces' ' Full-time schedules'
 ' Unemployed full-time' ' Unemployed part- time'
 ' PT for non-econ reasons usually FT' ' PT for econ reasons usually PT'
 ' PT for econ reasons usually FT']
-
capital gains :
[    0  5178   991  2829  3464  5556  7298 15024  1831  3137 10605 20051
  2538  3908  2407  2050  3103  1086  7688  5013  4386  2414 99999 13550
  2174  4650  4064   914  2354  4787  2009  2597  1055  6097  2635  2105
  3325  6767  2228  2062  3942 27828  9562  2176  7262  2202  2290  1173
  8614  2329  2653  7430  3456  2580 10520  2907  3471  2885  9386  2993
  7896 14084  3818  1409   594  7978  1797  2964  4934  1848  4101  3418
  3432  2774  1424  6849  4687  6418  4508  3674  3411  2936  4416  2346
 10566  7443  5455  1151 25236  2463  1455  3781 14344  4865 11678  1471
  5060   114  4931  1506   401 25124 15020  2036  3273  6514  1111  2977
 41310 18481  6497  6723 15831  2098  1264 34095 22040  3887  2961  5721
  1090  6360  3800  2387  1731  6612  9472  4594  2601  1140  2227  8530]
-
capital losses :
[   0 1590 1977 1669 1719 2444 1421 1848 2205 2149 2001 1902 2090 1573
 2415 2377 1876 1602 1740 1974 2339 1887 1258 2597 2603 1408 1980 1721
 1816 1340 2788 2174 2042 1485 2489 2129 2457 2051 1762 2057 1672 2258
  213 1651 2206 3770 1628 1564 1668 1735 1579  625 4608 2559 2246 4356
 1844 2002 2267 3175 1380 2392 1092 1504 2238 2704 2467  810 1539 2824
 1741 1870 1944 1825  419 2547 1510  880 1617 1411 1648  323 2282 2352
 3004 1755 1429  653 2163 2179 1436 2722 3500 1640  974 1021 2754 1726
 3900 2027  772 2231 1138 1594 2465 2519 1956 1911 2472 2201 2080 3683
  155]
-
dividends from stocks :
[   0 6000  100 ...  169 1055 7958]
-
tax filer stat :
[' Nonfiler' ' Head of household' ' Joint both under 65' ' Single'
 ' Joint both 65+' ' Joint one under 65 & one 65+']
-
region of previous residence :
[' Not in universe' ' South' ' Northeast' ' Midwest' ' West' ' Abroad']
-
state of previous residence :
[' Not in universe' ' Arkansas' ' Utah' ' Michigan' ' Minnesota' ' Alaska'
 ' Kansas' ' Indiana' ' ?' ' Massachusetts' ' New Mexico' ' Nevada'
 ' Tennessee' ' Colorado' ' Abroad' ' Kentucky' ' California' ' Arizona'
 ' North Carolina' ' Connecticut' ' Florida' ' Vermont' ' Maryland'
 ' Oklahoma' ' Oregon' ' Ohio' ' South Carolina' ' Texas' ' Montana'
 ' Wyoming' ' Georgia' ' Pennsylvania' ' Iowa' ' New Hampshire'
 ' Missouri' ' Alabama' ' North Dakota' ' New Jersey' ' Louisiana'
 ' West Virginia' ' Delaware' ' Illinois' ' Maine' ' Wisconsin'
 ' New York' ' Idaho' ' District of Columbia' ' South Dakota' ' Nebraska'
 ' Virginia' ' Mississippi']
-
detailed household and family stat :
[' Other Rel 18+ ever marr not in subfamily' ' Householder'
 ' Child 18+ never marr Not in a subfamily'
 ' Child <18 never marr not in subfamily' ' Spouse of householder'
 ' Secondary individual' ' Other Rel 18+ never marr not in subfamily'
 ' Nonfamily householder' ' Grandchild <18 never marr not in subfamily'
 ' Grandchild <18 never marr child of subfamily RP'
 ' Child 18+ ever marr Not in a subfamily'
 ' Child 18+ never marr RP of subfamily'
 ' Child 18+ spouse of subfamily RP'
 ' Other Rel <18 never marr child of subfamily RP'
 ' Child under 18 of RP of unrel subfamily'
 ' Grandchild 18+ never marr not in subfamily'
 ' Child 18+ ever marr RP of subfamily'
 ' Other Rel 18+ ever marr RP of subfamily' ' RP of unrelated subfamily'
 ' Other Rel 18+ spouse of subfamily RP'
 ' Other Rel <18 never marr not in subfamily'
 ' Other Rel <18 spouse of subfamily RP' ' In group quarters'
 ' Grandchild 18+ spouse of subfamily RP'
 ' Other Rel 18+ never marr RP of subfamily'
 ' Child <18 never marr RP of subfamily'
 ' Child <18 ever marr not in subfamily'
 ' Other Rel <18 ever marr RP of subfamily'
 ' Grandchild 18+ ever marr not in subfamily'
 ' Child <18 spouse of subfamily RP'
 ' Spouse of RP of unrelated subfamily'
 ' Other Rel <18 never married RP of subfamily'
 ' Grandchild 18+ never marr RP of subfamily'
 ' Grandchild 18+ ever marr RP of subfamily'
 ' Child <18 ever marr RP of subfamily'
 ' Other Rel <18 ever marr not in subfamily'
 ' Grandchild <18 never marr RP of subfamily'
 ' Grandchild <18 ever marr not in subfamily']
-
detailed household summary in household :
[' Other relative of householder' ' Householder' ' Child 18 or older'
 ' Child under 18 never married' ' Spouse of householder'
 ' Nonrelative of householder' ' Group Quarters- Secondary individual'
 ' Child under 18 ever married']
-
instance weight :
[1700.09 1053.55  991.95 ... 2733.75  908.14 4664.87]
-
migration code-change in msa :
[' ?' ' MSA to MSA' ' Nonmover' ' NonMSA to nonMSA' ' Not in universe'
 ' Not identifiable' ' Abroad to MSA' ' MSA to nonMSA' ' Abroad to nonMSA'
 ' NonMSA to MSA']
-
migration code-change in reg :
[' ?' ' Same county' ' Nonmover' ' Different region'
 ' Different county same state' ' Not in universe'
 ' Different division same region' ' Abroad'
 ' Different state same division']
-
migration code-move within reg :
[' ?' ' Same county' ' Nonmover' ' Different state in South'
 ' Different county same state' ' Not in universe'
 ' Different state in Northeast' ' Abroad' ' Different state in Midwest'
 ' Different state in West']
-
live in this house 1 year ago :
[' Not in universe under 1 year old' ' No' ' Yes']
-
migration prev res in sunbelt :
[' ?' ' Yes' ' Not in universe' ' No']
-
num persons worked for employer :
[0 1 6 4 5 3 2]
-
family members under 18 :
[' Not in universe' ' Both parents present' ' Mother only present'
 ' Neither parent present' ' Father only present']
-
country of birth father :
[' United-States' ' Vietnam' ' Philippines' ' ?' ' Columbia' ' Germany'
 ' Mexico' ' Japan' ' Peru' ' Dominican-Republic' ' South Korea' ' Cuba'
 ' El-Salvador' ' Canada' ' Scotland' ' Outlying-U S (Guam USVI etc)'
 ' Italy' ' Guatemala' ' Ecuador' ' Puerto-Rico' ' Cambodia' ' China'
 ' Poland' ' Nicaragua' ' Taiwan' ' England' ' Ireland' ' Hungary'
 ' Yugoslavia' ' Trinadad&Tobago' ' Jamaica' ' Honduras' ' Portugal'
 ' Iran' ' France' ' India' ' Hong Kong' ' Haiti' ' Greece'
 ' Holand-Netherlands' ' Thailand' ' Laos' ' Panama']
-
country of birth mother :

[' United-States' ' Vietnam' ' ?' ' Columbia' ' Mexico' ' El-Salvador'
 ' Peru' ' Puerto-Rico' ' Cuba' ' Philippines' ' Dominican-Republic'
 ' Germany' ' England' ' Guatemala' ' Scotland' ' Portugal' ' Italy'
 ' Ecuador' ' Yugoslavia' ' China' ' Poland' ' Hungary' ' Nicaragua'
 ' Taiwan' ' Ireland' ' Canada' ' South Korea' ' Trinadad&Tobago'
 ' Jamaica' ' Honduras' ' Iran' ' France' ' Cambodia' ' India'
 ' Hong Kong' ' Haiti' ' Japan' ' Greece' ' Holand-Netherlands'
 ' Thailand' ' Panama' ' Laos' ' Outlying-U S (Guam USVI etc)']
-
country of birth self :
[' United-States' ' Vietnam' ' ?' ' Columbia' ' Mexico' ' Peru' ' Cuba'
 ' Philippines' ' Dominican-Republic' ' El-Salvador' ' Canada' ' Scotland'
 ' Portugal' ' Guatemala' ' Ecuador' ' Germany'
 ' Outlying-U S (Guam USVI etc)' ' Puerto-Rico' ' Italy' ' China'
 ' Poland' ' Nicaragua' ' Taiwan' ' England' ' Ireland' ' South Korea'
 ' Trinadad&Tobago' ' Jamaica' ' Honduras' ' Iran' ' Hungary' ' France'
 ' Cambodia' ' India' ' Hong Kong' ' Japan' ' Haiti' ' Holand-Netherlands'
 ' Greece' ' Thailand' ' Panama' ' Yugoslavia' ' Laos']
-
citizenship :
[' Native- Born in the United States'
 ' Foreign born- Not a citizen of U S '
 ' Foreign born- U S citizen by naturalization'
 ' Native- Born abroad of American Parent(s)'
 ' Native- Born in Puerto Rico or U S Outlying']
-
own business or self employed :
[0 2 1]
-
fill inc questionnaire for veteran's admin :
[' Not in universe' ' No' ' Yes']
-
veterans benefits :
[2 0 1]
-
weeks worked in year :
[ 0 52 30 49 32 15 38 48  9 24 50 10 45 43  4 26 40 20  6 12 51  1  8 39
 13 16 34 14 36 44 22 41 46 28 23 35 25 17 11 37  5 42 29  2 21 19 47  3
 27  7 18 33 31]
-
year :
[95 94]
-
income class :
[' - 50000.' ' 50000+.']

## Simple dataset 
* keep only features related to salary
* wage per hour, weeks worked in year, capital gains, capital losses, dividends from stocks

In [7]:
keep_columns = ["wage per hour", "weeks worked in year", "capital gains", "capital losses", "dividends from stocks"]
X_simple_df = df[keep_columns]
Y_simple_df = pd.DataFrame(df["income class"] == ' 50000+.').astype('int')

In [8]:
from sklearn import preprocessing

X_simple = X_simple_df.values
min_max_scaler = preprocessing.MinMaxScaler()
X = min_max_scaler.fit_transform(X_simple)

### Logistic Regression

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y_simple_df, test_size=0.3, random_state=42)

In [10]:
lr_predictor = LogisticRegression(random_state=0).fit(X_train, Y_train)

/home/dpap/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/dpap/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### RandomForest

In [11]:
from sklearn.ensemble import RandomForestClassifier

rf_predictor = RandomForestClassifier(random_state=0).fit(X_train, Y_train)

/home/dpap/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/dpap/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

### Validation

In [12]:
from sklearn.metrics import roc_auc_score

roc_auc_score(Y_test, lr_predictor.predict(X_test))

0.5710964541846404

In [13]:
roc_auc_score(Y_test, rf_predictor.predict(X_test))

0.6363043039869866

## More features
* let's add some categorical data

In [15]:
numerical_columns = ["wage per hour", "weeks worked in year", "capital gains", "capital losses", "dividends from stocks"]
categorical_columns = ["race", "sex", "citizenship", "veterans benefits", "marital status"]
keep_columns = numerical_columns+categorical_columns

X_simple_df = df[keep_columns]
Y_simple_df = pd.DataFrame(df["income class"] == ' 50000+.').astype('int')